@font-face {
    font-family: 'GT America Regular';
    src: url("../fonts/FontsFree-Net-GT-America-Regular-1.ttf") format("opentype");
}

@font-face {
    font-family: 'Domaine Display Narrow';
    src: url("../fonts/DomaineDispNar-Regular.otf") format("opentype");
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "GT America Regular", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.8rem;
    font-weight: 300;
}

main {
    display: block;
}

.container-one {
    background: #fff8e6;
}

.fluid-container {
    max-width: 1312px;
    margin: 0 auto;
}

p {
    font-size: 20px;
    font-weight: 1;
}

h1 {
    font-family: 'Domaine Display Narrow';
    font-size: 74px;
    padding-bottom: 100px;
    text-align: center;
    line-height: 5rem;
}

/* Page Banner */
.page-banner {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.4px;
}

.page-banner p {
    font-size: 1.08rem;
}

.bold {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
} 


/* Header */
.topbar {
    background: #fff8e6;
}

.topbar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 204px;
    margin: 0 auto;
    width: 87%;
    align-items: center;
}

.topbar__wordmark {
    margin: 0;
}

.topbar__wordmark-link {
    width: 245px;
}

.topbar__icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.gif {
    width: 70px;
    height: 60px;
}

.topbar__nav {
    display: flex;
    position: relative;
    margin: 0;
}

.bag, .dropdown {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

/* Section one */
.section-one {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-gap: 20px;
}

.section-one img {
    width: 100%;
}

.section-one__text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 0px;
}

.section-one__text p {
    max-width: 400px;
    padding-bottom: 60px;
}

.button__outline {
    background: none;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

.flower {
    position: absolute;
    left: 8%;
    top: 125%;
}

.flower img {
    width: 185px;
}

/* Section two */
.section-two__image {
    max-width: 545px;
    max-height: 545px;
}

.section-two__image img {
    width: 100%;
    padding-left: 26px;
}

.section-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;   
    padding-bottom: 110px; 
}

.section-two__text h2 {
    font-family: 'Domaine Display Narrow';
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    margin: 0;
}

.section-two__text {
    padding-left: 120px;
    padding-right: 80px;
    display: grid;
    align-content: space-between;
}

.section-two__body-text {
    align-items: flex-start;
}

.section-two__body-text p:nth-child(1) {
    padding-bottom: 30px;
}

.section-two__body-text p:nth-child(2) {
    padding-bottom: 30px;
}

/* Section-three */
.flower-small {
    position: absolute;
    top: 268%;
    left: 43%;
}

.flower-small img {
    width: 94px;
}

.section-three ol {
    list-style-image: url('../images/image_73.png');
}

.section-three {
    display: grid;
    grid-template-columns: 550px 500px;
    font-weight: 100;
    font-size: 22px;
    align-self: center;
    justify-content: center;
    font-family: 'GT America Regular';
    padding-bottom: 150px;
}

.section-three img {
    width: 399px;
}
.section-three li {
    padding-bottom: 30px;
    padding-left: 25px;
}

.figcaption {
    position: absolute;
    top: 321%;
    left: 62%;
}

.figcaption img {
    width: 35px;
}

figcaption {
    font-size: 15px;
    padding-top: 20px;
    position: absolute;
    top: 318%;
    left: 65%;
}

/* Section-four */
.section-four__title h1 {
    padding-bottom: 30px;
}
.section-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1050px;
    margin-bottom: 100px;
    grid-gap: 55px;
}

.article {
    border: 1px solid black;
    height: 576px;
    width: 316px;
    padding: 30px;
    text-align: center;
}

.article__second, .article__third {
    opacity: 0.2;
}

.article__title {
    padding-bottom: 20px;
    padding-top: 30px;
}

.article__title-second {
    padding-bottom: 220px;
}

.article__title-third {
    padding-bottom: 320px;
}

.body-text {
    font-size: 13px;
    line-height: 1.2rem;
    margin-bottom: 120px;
}

.button__article {
    margin-bottom: 30px;
    font-size: 20px;
    padding: 18px 0px;
    border-radius: 50px;
    width: 250px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    display: block;
    width: 250px;
    height: 64px;
    padding: 12px 55px 15px 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.button__article:hover {
    color: white;
    background-color: black;
}

.red {
    border-color: #f7531d;
    color: #f7531d;
}

.white {
    border-color: #ffb800;
    color: #ffb800;
}

.mixed {
    border-color: rgb(247,83,29);
    border-color: linear-gradient(90deg, rgba(247,83,29,1) 0%, rgba(255,184,0,1) 48%);
    color: rgb(247,83,29);
    color: linear-gradient(90deg, rgba(247,83,29,1) 0%, rgba(255,184,0,1) 48%);
}

.red:hover {
    color: white;
    background-color: #f7531d;
}

.white:hover {
    color: white;
    background-color: #ffb800;
}

.mixed:hover {
    color: white;
    background: rgb(247,83,29);
    background: linear-gradient(90deg, rgba(247,83,29,1) 0%, rgba(255,184,0,1) 48%);
}

/* Section five */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-leaf img{
    width: 316px;
}

.text-leaf__1 img {
    height: 48px;
    margin-bottom: 30px;
}

.text-leaf__2 img {
    height: 48px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'DomaineDispNar-Regular';
    font-weight: 100;
    font-size: 32px;
}

.text-leaf {
    padding-bottom: 120px;
}

.text-leaf__2 {
    padding-top: 150px;
    width: 316px;
}

.text-leaf__1 {
    width: 316px;
}

/* Section six 
.photo-grid {
    width: 316px;
}

<div class="one">
<div class="fluid-container">
    <section>
        <h1>How the world’s best wine gets made.</h1>
        <img class="photo-grid" src="images/World-Best-1.png.webp" alt="">
        <img class="photo-grid" src="images/World-Best-2.png.webp" alt="">
        <img class="photo-grid" src="images/World-Best-3.png.webp" alt="">
    </section>
    */

/* Section nine */
.button-winelist {
    width: 250px;
    padding: 14px 0px;
    border-radius: 50px;
    text-align: center;
    margin-left: 0;
}

/* Footer */
button {
    padding: 10px;
    width: 170px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
    font-size: 20px;
    margin: auto;
    display: block;
    margin-bottom: 140px;
}

footer {
    background-color: black;
    height: 900px;
}

.footer {
    max-width: 1100px;
}

.line {
    width: 100%;
}

.line_img {
    width: 100%;
}

.drawing img {
    height: 320px;
    margin: 0 auto;
    display: block;
    padding-top: 160px;
    padding-bottom: 60px;
}

.title_footer_h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 0px;
    text-align: center;
    line-height: 1.2rem;
}

.title_footer {
    padding-bottom: 50px;
}

button {
    padding: 10px;
    width: 170px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
    font-size: 20px;
    margin: auto;
    display: block;
    margin-bottom: 140px;
}

.navlist {
    padding-left: 0px;
}

.nav {
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 23px;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: white;
    float: left;
    padding: 20px 40px;
}

.socials {
    float: right;
}

.nav a:nth-child(1) {
    padding-left: 0;
}

.one {
    background-color: #fff8e6;
}
