<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>

        <p>my name is derez</p>
        <section class="screenshot">
            <img src="/images/page-banner.png" alt="banner">
        </section>

        <div>
       <section class="page-banner">
           <p><span class="underline">Subscribe now</span>, shipping is free | Code: <span class="bold">GOODWINE</span> | Cancel anytime, no worries.</p>
       </section>

       <section class="screenshot">
           <img src="/images/page-header.png" alt="header">
       </section>

       <header class="topbar">
        <div class="fluid-container">
           <div class="topbar__wrapper">
                <div class="topbar__wordmark">
                <img class="topbar__wordmark-link" src="/images/Good_Weather_Wine.svg" alt="Logo">
                </div>

                <div class="topbar__icon">
                <a href="#">
                <img class="gif" src="/images/Black_GoodWeather_Animation.gif" alt="gif">
                </a>
                </div>

                <nav class="topbar__nav">
                <img class="bag" src="/images/Schermafbeelding 2022-04-19 om 15.53.52.png" alt=""></a>                
                <img class="dropdown" src="/images/Schermafbeelding 2022-04-19 om 15.53.57.png" alt="Dropdown Menu">
                </nav>  
            </div>
        </div>
        </header>

        <section class="screenshot">
            <img src="/images/Schermafbeelding 2022-04-19 om 23.22.14.png" alt="">
        </section>

        <div class="one">
        <div class="fluid-container">
        <section class="section-one">
            <img src="/images/img section one.png" alt="blurry">
            <img src="/images/img section one-one.png" alt="wine">
        </section>

        <section class="section-one__text"> 
            <p>Delicious natural wine on your schedule. We choose the best clean wines and deliver them right to your door. Low sulfites, no additives, and sugar-free</p>
            <button class="button__outline">Join the club</button>
            </div>
        </section>
        </div>
        </div>
        </div>

        <section class="screenshot">
            <img src="/images/section-two.png" alt="">
        </section>

        <div class="fluid-container">
        <section class="section-two">
            <div class="section-two__image">
            <img src="/images/Remarkable-1_1296x.jpg.webp" alt="wine">
            </div>

            <div class="section-two__text">
            <h2>Wine is remarkable. <br> Additives aren't.</h2>
            <p>No additives, no chemicals, & no added sugar. That's clean wine. Industrial wines, just like processed food, often use over 70 additives, & none of them are listed on the label. It's time to drink something natural.</p>
            </div>
        </section>
        </div>

        <section class="screenshot">
            <img src="/images/section-three.png" alt="screenshot">
        </section>

        <div class="fluid-container">
            <h1>What makes <br> wine natural?</h1>
        <section class="section-three">
            <ol>
                <li>Organic, biodynamic or sustainably farmed</li>
                <li>Sugar-free</li>
                <li>No additives, no preservatives</li>
                <li>Low sulfites</li>
                <li>Handcrafted at small wineries</li>
                <li>Keto + Paleo friendly</li>
            </ol>
            <img src="/images/image_41_900x.png.webp" alt="wine">
        </section>
        </div>

        <section class="screenshot">
            <img src="/images/Schermafbeelding 2022-04-25 om 21.53.32.png" alt="screenshot">
        </section>

        <div class="fluid-container">
            <section class="section-four">
                <article class="article article__first">
                    <p class="article__title">How many bottles?</p>
                    <p class="body-text">Choose the perfect box for you. Keep in mind that everyone loves wine, so having extra is always a good idea. You can adjust your order at any time.</p>
                    <button class="button__outline button__article">3 for $90.00</button>
                    <button class="button__outline button__article">6 for $150.00</button>
                    <button class="button__outline button__article">12 for $290.00</button>
                </article>
    
                <article class="article article__second">
                    <p class="article__title article__title-second">What kind of wine?</p>
                    <button class="red button__outline button__article">Red</button>
                    <button class="white button__outline button__article">White</button>
                    <button class="mixed button__outline button__article">Mixed</button>
                </article>
    
                <article class="article article__third">
                    <p class="article__title article__title-third">How often</p>
                    <select name="often" class="input">
                        <option value="Once a month">Once a month</option>
                        <option value="Every other month">Every other month</option>
                        <option value="Every third month">Every third month</option>
                        <option value="Every fourth month">Every fourth month</option>
                      </select>
                    <button class="button__outline button__article">Add to cart</button>
                </article>
            </section>
            </div>
    </main>

    <section class="screenshot">
        <img src="/images/footer.png" alt="screenshot">
    </section>

    <footer>
        <div class="footer">
            <div class="drawing">
            <img src="/images/9-Flower.png" alt="Flower">
        </div>

        <div class="title_footer">
            <h1 class="title_footer_h1">Drink good wine</h1>
            <h1 class="title_footer_h1">Feel good later</h1>
        </div>

        <button>Get your box</button>

        <div class="line_img">
        <img class="line" src="/images/Schermafbeelding 2022-04-25 om 22.50.54.png" alt="line">
        </div>
    
        <div class="nav">
        <ul class="navlist">
            <li><a href="#">About</a></li>
            <li><a href="#">Account</a></li>

            <div class="socials">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#" style="padding-right: 0px;">Instagram</a></li>
            </div>
        </ul>
        </div>
    </footer>
    </div>

</body>
</html>

